header {
  height: 262px;
  background: #97969b url(../images/header-bg.jpg) no-repeat center center;
  position: relative;
  overflow: hidden;
}
header .container {
  height: 262px;
}
header h2 {
  font-family: "naturasanslight";
  color: #fff;
  font-size: 35px;
  padding-top: 41px;
}
header p {
  padding-top: 6px;
  color: #fff;
  width: 320px;
  font-family: "naturasanslight";
  font-size: 18px;
  text-align: left;
  letter-spacing: 0.5px;
}
header p strong {
  font-family: "naturasansregular";
}
@media screen and (max-width: 760px) {
  header {
    background: #97969b url(../images/header-bg-mobile.jpg) no-repeat center;
    background-size: cover;
    height: 180px;
  }
  header h2 {
    font-size: 20px;
    padding-top: 10px;
  }
  header p {
    font-size: 14px;
  }
  header h2,
  header p {
    padding-left: 10px;
  }
}
.title-area {
  background: #f5e0e2;
  text-align: center;
  font-family: "naturasanslight";
  padding: 22px;
  line-height: 1.6;
}
.title-area h2 {
  font-size: 32px;
  color: #666666;
}
.title-area p {
  font-size: 20px;
  color: #666666;
  font-family: "GillSansStd";
}
.video-area {
  background: #fff;
  padding: 25px;
  text-align: center;
  -webkit-transition: height 1s;
          transition: height 1s;
}
.video-area .videoHolder {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}
.video-area a {
  display: block;
}
.video-area a img {
  margin-right: 20px;
  float: left;
}
.video-area .assista {
  float: left;
  background: #f5e0e2;
  color: #514d4d;
  padding: 27px 10px;
  width: 95px;
  height: 95px;
  line-height: 1;
  border-radius: 50%;
  margin-top: 28px;
}
.video-area .showVideo {
  display: none;
}
.col {
  position: relative;
  float: left;
}
.rose-area {
  background: #f5e0e2;
  color: #666666;
  font-family: "GillSansStd-Light";
  padding: 22px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}
.rose-area .col {
  width: 47%;
  margin-right: 6%;
  text-align: center;
}
.rose-area .col:last-child {
  margin-right: 0%;
}
.rose-area .col p {
  color: #666666;
  font-size: 18px;
  padding-top: 22px;
  font-family: "GillSansStd";
  width: 325px;
  margin: 0 auto;
}
.rose-area .col a.square {
  display: block;
  font-family: "naturasanslight";
  font-size: 22px;
  text-align: center;
  border-radius: 4px;
  padding: 17px 10px;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
.rose-area .col a.square.border {
  border: solid 3px #d6abaa;
  color: #c69d9d;
}
.rose-area .col a.square:hover {
  border: solid 3px #d6abaa;
  background: #d6abaa;
  color: #fff;
}
@media screen and (max-width: 760px) {
  .white-area {
    padding: 10px;
  }
  .white-area h2 {
    font-size: 17px;
  }
  .white-area p {
    font-size: 14px;
  }
  .rose-area .col {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 30px;
  }
  .rose-area .col:last-child {
    margin-bottom: 0px;
  }
  .rose-area .col p {
    width: 100%;
    font-size: 14px;
  }
  .rose-area .col a.square {
    font-size: 16px;
    padding: 10px;
  }
  .rose-area .col a.square.border {
    border: solid 2px #d6abaa;
  }
}
* {
  outline: none;
}
/* fonts */
@font-face {
  font-family: 'naturasansbold';
  src: url('../fonts/naturasans-bold.eot');
  src: url('../fonts/naturasans-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/naturasans-bold.woff2') format('woff2'), url('../fonts/naturasans-bold.woff') format('woff'), url('../fonts/naturasans-bold.ttf') format('truetype'), url('../fonts/naturasans-bold.svg#naturasansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'naturasanslight';
  src: url('../fonts/naturasans-light.eot');
  src: url('../fonts/naturasans-light.eot?#iefix') format('embedded-opentype'), url('../fonts/naturasans-light.woff2') format('woff2'), url('../fonts/naturasans-light.woff') format('woff'), url('../fonts/naturasans-light.ttf') format('truetype'), url('../fonts/naturasans-light.svg#naturasanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'naturasansregular';
  src: url('../fonts/naturasans-regular.eot');
  src: url('../fonts/naturasans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/naturasans-regular.woff2') format('woff2'), url('../fonts/naturasans-regular.woff') format('woff'), url('../fonts/naturasans-regular.ttf') format('truetype'), url('../fonts/naturasans-regular.svg#naturasansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GillSansStd-Bold';
  src: url('../fonts/GillSansStd-Bold.eot');
  src: url('../fonts/GillSansStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GillSansStd-Bold.otf') format('opentype'), url('../fonts/GillSansStd-Bold.woff') format('woff'), url('../fonts/GillSansStd-Bold.ttf') format('truetype'), url('../fonts/GillSansStd-Bold.svg#GillSansStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GillSansStd-Light';
  src: url('../fonts/GillSansStd-Light.eot');
  src: url('../fonts/GillSansStd-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GillSansStd-Light.otf') format('opentype'), url('../fonts/GillSansStd-Light.woff') format('woff'), url('../fonts/GillSansStd-Light.ttf') format('truetype'), url('../fonts/GillSansStd-Light.svg#GillSansStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GillSansStd';
  src: url('../fonts/GillSansStd.eot');
  src: url('../fonts/GillSansStd.eot?#iefix') format('embedded-opentype'), url('../fonts/GillSansStd.otf') format('opentype'), url('../fonts/GillSansStd.woff') format('woff'), url('../fonts/GillSansStd.ttf') format('truetype'), url('../fonts/GillSansStd.svg#GillSansStd') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "GillSansStd";
  font-size: 14px;
}
ul {
  padding-left: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix {
  clear: both;
}
.fl-right {
  float: right;
}
.fl-left {
  float: left;
}
.uppercase {
  text-transform: uppercase;
}
.container {
  width: 750px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 760px) {
  .container {
    width: 100%;
  }
}
