header{
	height: 262px;
	background: #97969b url(../images/header-bg.jpg) no-repeat center center;
	position: relative;
	overflow: hidden;

	.container{
		height: 262px;
	}

	h2{
		font-family: @natura-light;
		color: @white;
		font-size: 35px;
		padding-top: 41px;
	}
	p{
		padding-top: 6px;
		color: @white;
		width: 320px;
		font-family: @natura-light;
		font-size: 18px;
		text-align: left;
		letter-spacing: 0.5px;
		strong{
			font-family: @natura-regular;
		}
	}
	@media screen and (max-width: 760px){
		background: #97969b url(../images/header-bg-mobile.jpg) no-repeat center;
		background-size: cover;
		height: 180px;
		h2{
			font-size: 20px;
			padding-top: 10px;
		}
		p{
			font-size: 14px;
		}
		h2,p{
			padding-left: 10px;
		}
	}
}