// WHITE AREA

.title-area{
    background: @pink-bg;
    text-align: center;
    font-family: @natura-light;
    padding: 22px;
    line-height: 1.6;
    h2{
        font-size: 32px;
        color: @gray;
    }
    p{
        font-size: 20px;
        color: @gray;
        font-family: @font-regular;
    }
}

.video-area{
	background: @white;
	padding: 25px;
	text-align: center;
	transition: height 1s;
	.videoHolder{
		width: 50%;
		text-align: center;
		margin: 0 auto;
		overflow: hidden;
	}
	a{
		display: block;
		img{
			margin-right: 20px;
			float: left;
		}
	}
	.assista{
		float: left;
		background: #f5e0e2;
		color: #514d4d;
		padding: 27px 10px;
		width: 95px;
		height: 95px;
		line-height: 1;
		border-radius: 50%;
		margin-top: 28px;
	}
	.showVideo{
		display: none;
	}
}

.col{
    position: relative;
    float: left;
}

// ROSE AREA

.rose-area{
	background: @pink-bg;
	color: @gray;
	font-family: @font-light;
	padding: 22px;
	font-size: 16px;
	position: relative;
	overflow: hidden;
	.col{
		width: 47%;
		margin-right: 6%;
		text-align: center;
		&:last-child{
			margin-right: 0%;
		}

		p{
			color: @gray;
			font-size: 18px;
			padding-top: 22px;
			font-family: @font-regular;
			width: 325px;
			margin: 0 auto;
		}

		a.square{
			display: block;
			font-family: @natura-light;
			font-size: 22px;
			text-align: center;
			border-radius: 4px;
			padding: 17px 10px;
			transition: all 0.2s ease-out;
			&.border{
				border: solid 3px #d6abaa;
				color: @darker-pink;
			}
			&:hover{
				border: solid 3px @pink;
				background: @pink;
				color: @white;
			}
		}
	}
}

@media screen and (max-width: 760px){
	.white-area{
		padding: 10px;
		h2{
			font-size: 17px;
		}
		p{
			font-size: 14px;
		}
	}
	.rose-area{
		.col{
			width: 100%;
			margin-right: 0%;
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0px;
			}

			p{
				width: 100%;
				font-size: 14px;
			}
			a.square{
				font-size: 16px;
				padding: 10px;
				&.border{
					border: solid 2px #d6abaa;
				}
			}
		}
	}
}