@import "base";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    font-family: @font-regular;
    font-size: 14px;
}

ul{
    padding-left: 0;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

.clearfix{
    clear: both;
}

.fl-right{
    float: right;
}
.fl-left{
    float: left;
}
.uppercase{
    text-transform: uppercase;
}

.container{
    width: 750px;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 760px){
    .container{
        width: 100%;
    }
}