//
// Variables
// --------------------------------------------------

//== Colors
@white:             #fff;
@pink: 				#d6abaa;
@light-gray: 		#97969b;
@pink-bg: 			#f5e0e2;
@darker-pink: 		#c69d9d;
@rose:				#f9f3f5;

@gray: 				#666666;

@text-color:        @white;


//== Typography
@natura-regular:     "naturasansregular";
@natura-bold:        "naturasansbold";
@natura-light:       "naturasanslight";

@font-bold:  		 "GillSansStd-Bold";
@font-light: 		 "GillSansStd-Light";
@font-regular: 		 "GillSansStd";